body {
  background-color: #eaebea;
}
.app {
  background-color: white;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto; 
}
h1{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.place{
  display: flex;
  justify-content: center; 
  
}
input{
  padding: 8px;
  width: 300px;
}
.placetext{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.crossed {
  text-decoration: line-through 2px rgb(156, 204, 156);
  background-color: rgb(233, 236, 238);
}
ul, li {
  list-style-type: none;
  padding: 5px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
button{
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  border: none;
  width: 70%;
  color:rgb(34, 54, 34);
  font-size: 16px;
}
.btn-add{
  background: #aec78b;
  margin-top: 5px;
}
.btn-delete{
  background: #dfd090;
  margin-bottom: 5px;
}
